
/* Heading Images */

#top_image
{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:60vh;
}

#logo_image
{
	position:absolute;
	top:4vh;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/* End Heading Images */

/* Navigation Elements */


#navigation_elements
{
	position: absolute;
	top:2vh;
	left:75vw;
	color:white;
	white-space: nowrap;
	font-size:1.1vw;
}

#nav
{
	margin-left:10px;
	margin-right:10px;
	display: inline-block;
}

#position_slash
{
	position: relative;
	left:10px;
}

/* End Navigation Elements */